<div>
  <div></div>
  <h2>Welcome!</h2>
  <p>We hope you find exactly what you're looking for in a place to stay.</p>
  {{#link-to "about" tagName='button' class='About-us-button'}}
    About Us
  {{/link-to}}
</div>
<ListFilter @filter={{action "filterByCity"}} as |filteredResults|>
  <ul>
    {{#each filteredResults as |rentalUnit|}}
      <li><RentalListing @rental={{rentalUnit}} /></li>
    {{/each}}
  </ul>
</ListFilter>
{{outlet}}